@import '../../styles/variables.scss';

.ErrorWrapper{
  position: fixed ;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
}

.Error{
  position: relative;
  @include box;
  background-color: $primary-color-1;
  margin-top: 0.6rem;
  max-width: 10rem;

  .close-icon{
    position: absolute;
    padding: 0.2rem;
    top: 0.2rem;
    right: 0.6rem;
    font-size: 1rem;
    background-color: $primary-color-1;
    color: $dark-color-2;
  }
}
