@import '../../styles/variables.scss';

.AlertWrapper{
  position: fixed ;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
}

.Alert{
  position: relative;
  @include box;
  background-color: $dark-color-4;
  margin-top: 0.6rem;
  width: 12rem;

  .close-icon{
    position: absolute;
    padding: 0.2rem;
    top: 0.2rem;
    right: 0.6rem;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    color: $dark-color-2;
  }
}
